/* @import url('https://fonts.cdnfonts.com/css/satoshi'); */
@import url('/satoshi.css');
@tailwind base;
@tailwind components;
@tailwind utilities;


@layer utilities {
    .scrollbar-hide {
      -ms-overflow-style: none;  /* IE and Edge */
      scrollbar-width: none;  /* Firefox */
    }
    
    .scrollbar-hide::-webkit-scrollbar {
      display: none;  /* Chrome, Safari and Opera */
    }
  }

  * {
    scroll-behavior: smooth;
  }

body > * {
    font-family: 'Satoshi-Variable', 'Satoshi-Regular', sans-serif;
}

/* In your global CSS */
/* .toolbarClassName .rdw-dropdown-selected-text {
  z-index: 10000 !important;
  } 
   */

/* styles.css or a similar global stylesheet */
.custom-calendar-width {
  width: 500px !important; /* or any width you prefer */
}

.ant-dropdown-placement-bottomLeft {
  min-width: 150px !important;
}

/* Custom styles for NProgress */
#nprogress .bar {
  background: #7DBA00 !important; /* Blue color */
}

#nprogress .peg {
  box-shadow: 0 0 10px #7DBA00, 0 0 5px #7DBA00 !important;
}

#nprogress .spinner-icon {
  border-top-color: #7DBA00 !important;
  border-left-color: #7DBA00 !important;
}

/* Black color classes */
.black-100 { color: #23342A; }
.black-200 { color: #516158; }
.black-300 { color: #6E8C7B; }
.black-400 { color: #92B09F; }
.black-500 { color: #C8E0D2; }
.black-600 { color: #DDEEE5; }
.black-700 { color: #F0FAF4; }

/* Background color variants for black */
.bg-black-100 { background-color: #23342A; }
.bg-black-200 { background-color: #516158; }
.bg-black-300 { background-color: #6E8C7B; }
.bg-black-400 { background-color: #92B09F; }
.bg-black-500 { background-color: #C8E0D2; }
.bg-black-600 { background-color: #DDEEE5; }
.bg-black-700 { background-color: #F0FAF4; }

/* Green and Lemon color classes */
.green { color: #066932; }
.bg-green { background-color: #066932; }

.lemon { color: #7DBA00; }
.bg-lemon { background-color: #7DBA00; }

/* Grey color classes */
.grey-100 { color: #E7E7E7; }
.grey-200 { color: #F5F5F5; }

.bg-grey-100 { background-color: #E7E7E7; }
.bg-grey-200 { background-color: #F5F5F5; }

/* Red color classes */
.red-100 { color: #E83B3B; }
.red-200 { color: #FF8A8A; }

.bg-red-100 { background-color: #E83B3B; }
.bg-red-200 { background-color: #FF8A8A; }

/* Orange color classes */
.orange-100 { color: #D28209; }
.orange-200 { color: #F9C77B; }

.bg-orange-100 { background-color: #D28209; }
.bg-orange-200 { background-color: #F9C77B; }

.white { color: "#ffffff" !important}
.bg-white { background-color: "#ffffff";}

select {
   transition: border-color 0.3s ease;
  /* Remove default styling in browsers */
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute !important;
}

select:focus {
  position: absolute !important;
  top: 15px !important;
  /* color: #516158 !important; */
}

.no-s {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #d9d9d9 white;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #fff;
  border-radius: 100vw;
}

::-webkit-scrollbar-thumb {
  background: #d9d9d9;
  border-radius: 100vw;
}

@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 0 0% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 0 0% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 0 0% 3.9%;
        --primary: 0 0% 9%;
        --primary-foreground: 0 0% 98%;
        --secondary: 0 0% 96.1%;
        --secondary-foreground: 0 0% 9%;
        --muted: 0 0% 96.1%;
        --muted-foreground: 0 0% 45.1%;
        --accent: 0 0% 96.1%;
        --accent-foreground: 0 0% 9%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 89.8%;
        --input: 0 0% 89.8%;
        --ring: 0 0% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
    }
  .dark {
        --background: 0 0% 3.9%;
        --foreground: 0 0% 98%;
        --card: 0 0% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 0 0% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 0 0% 9%;
        --secondary: 0 0% 14.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 0 0% 14.9%;
        --muted-foreground: 0 0% 63.9%;
        --accent: 0 0% 14.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 0 0% 14.9%;
        --input: 0 0% 14.9%;
        --ring: 0 0% 83.1%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
    }
}

@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}